.header{
    padding: 32px;
    background-color: var(--text-color-grade-3);
    color: var(--contrast);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title{
        font-size: 36px;
        font-family: 'Reem Kufi Ink',sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .cover{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        top: 0px;
        left: 0px;
        filter: blur(6px) brightness(100%);
        -webkit-filter: blur(6px) brightness(100%);
        -moz-filter: blur(6px) brightness(100%);
        transition: 300ms all linear;
    }
}

.description{
    font-size: 14px;
    line-height: 1.5 !important;
    letter-spacing: 0.35px;

    a{
        color: var(--color-main);

        &:hover{
            text-decoration: underline;
        }
    }
}

.list{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat( auto-fill, minmax( 240px, 1fr) );
    color: var(--text-color-grade-2);
    margin: 0px;
    padding: 0px;
    list-style: none;  
    font-size: 12px; 
    line-height: 1.5;
}

.block{
    margin-top: 32px;
}