:root{
  --text-color: #222222;
  --text-sub-color: rgba(0, 0, 0, 0.5);
  --text-footer: rgba(0, 0, 0, 0.37);
  --main-color: #8000FF;
  --main-highlight: #8000ff1c;

  @media (prefers-color-scheme: dark) {
    --text-color: #ffffff;
    --text-sub-color: rgba(255, 255, 255, 0.5);
    --text-footer: rgba(255, 255, 255, 0.37);
  }
}

html,
body {
  padding: 0;
  margin: 0;
	font-family: "Inria Sans", sans-serif;
	font-style: normal;
  color: var(--text-color) ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
