:root{
  --contrast: #ffffff;

  --text-color: #222222;
  --text-color-grade-1: rgb(34, 34, 34, 0.06);
  --text-color-grade-2: rgb(34, 34, 34, 0.35);
  --text-color-grade-3: rgb(34, 34, 34, 0.80);

  --color-main: #6872ff;
  --color-main-shadow: rgba(104, 114, 255, 0.35);
  --color-main-light: rgba(104, 114, 255, 0.06);

  
  --color-second: rgb(255, 104, 154);
  --color-second-shadow: rgba(255, 104, 154, 0.35);
  --color-second-light: rgba(255, 104, 154, 0.06);

  --color-vantagem: rgb(42, 214, 191);
  --color-desvantagem: rgb(255, 136, 0);

  --shadow-color: 0deg 0% 60%;
  --shadow-elevation-medium:
      0px 0.3px 0.3px hsl(var(--shadow-color) / 0.4),
      0px 0.8px 0.8px -0.8px hsl(var(--shadow-color) / 0.37),
      0px 1.6px 1.6px -1.6px hsl(var(--shadow-color) / 0.33),
      -0.1px 3.5px 3.5px -2.4px hsl(var(--shadow-color) / 0.29),
      -0.2px 7.1px 7.2px -3.2px hsl(var(--shadow-color) / 0.25);

      
  @media (prefers-color-scheme: dark) {
    --contrast: #222222;
    --text-color: #ffffff;
    --text-color-grade-1: rgba(255, 255, 255, 0.06);
    --text-color-grade-2: rgba(255, 255, 255, 0.35);
    --text-color-grade-3: rgba(255, 255, 255, 0.8);
  }
}

html,
body {
  padding: 0;
  margin: 0;
	font-family: "Inria Sans", sans-serif;
	font-style: normal;
  color: var(--text-color) ;
  background-color: var(--contrast);
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.35px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
